#bezel{
    width: 280px;
    height: 527px;
    background-image: url('../img/phone.png');
    padding-top: 60px;
    padding-left: 20px;
}
#phone{
    width: 260px;
    height: 440px;
    background: black;
    background-image: linear-gradient(#2F2727, #1a82f7);

}

#thecode{
    width: 600px;
}